.login {
    width:360px;
    margin: 50px auto;
    font: Cambria;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin-top: 70px;
}

input[type=text], input[type=password] {
    width: 99%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family: Cambria;
}

#submit{
    width: 100%;
    background-color: #009;
    color: #fff;
    border: 2px solid #06F;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;

}