#row {
    margin: 0 auto;
    width: 900px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.container-fluid {
    border-top: 3px solid #0F35F7;
}

.table td {
    text-align: center;
 }

 .table th {
    text-align: center;
 }

 .col-xs-12 {
    margin-top:15px;
 }

.custom {
    width: 300px !important;
}


