

#contactForm { 
    display: none;
    z-index: 1;
    border: 6px solid rgb(233, 84, 84); 
    padding: 2em;
    width: 400px;
    text-align: center;
    background: rgb(250, 250, 250);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
    
  }
  
  input, textarea { 
    margin: .8em auto;
    font-family: inherit; 
    text-transform: inherit; 
    font-size: inherit;
    
    display: block; 
    width: 280px; 
    padding: .4em;
  }
  textarea { height: 80px; resize: none; }
  
  .formBtn { 
    width: 140px;
    display: inline-block;
    
    background: teal;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
  }